.navigation {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr auto;
  padding-inline-start: 40px;
  padding-block-start: 1.25rem;
  padding-inline-end: 40px;
  gap: 18px;
}
.navigation-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 40px;
  padding-block-start: 0.55rem;
  padding-block-end: 0.55rem;
  padding-inline-end: 40px;
  gap: 50px;
  background-color: rgb(42, 46, 52);
}
.logo-info {
  color: black;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  padding-inline-start: 9px;
  border-inline-start: 1px solid grey;
}
.logo > a {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
a > picture {
  inline-size: 85px;
  min-inline-size: 85px;
}
.box-login > a {
  color: black;
}
.btn-users-dashboard {
  border-radius: 20px;
  padding: 10px 5px;
}
.logo,
.login-register,
.helpers {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3125rem;
  block-size: 2.875;
  border: 1px solid rgba(206, 206, 234, 1);
  border-radius: 14px;
  box-shadow: 0 4px 6px 0 rgba(67 46 134 0.04);
  padding: 12px;
}

a {
  text-decoration: none;
}

.btn {
  color: white;
  font-weight: 850;
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.75rem;
}

.helpers-boxes {
  border: none;
  display: flex;
  gap: 18px;
}
.boxes-123 > button {
  background-color: white;
  border: none;
  color: black;
}
.letter-help {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
}
.box-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px;
}
.box-login:hover {
  border-radius: 15px;
  background-color: rgb(241, 239, 239);
}
.btn-register {
  width: 140px;
  min-width: 120px;
  margin-inline-start: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
  block-size: 2.25rem;
  padding-inline-start: 0.005rem;
  padding-inline-end: 0.005rem;
  background-color: #0d165a;
}
.btn-register:hover {
  background: 
  #1102e6;
}
.cu-box-dashboard-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 20px;
}
.search-dashboard {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 300px;
  min-width: 150px;
  background-color: rgba(64, 67, 73, 1);
  border-radius: 5px;
}
.searchIcon {
  display: flex;

  justify-content: center;
  padding-inline-start: 5px;
  padding-inline-end: 2px;
  color: rgba(221, 221, 222, 1);
}
.search-dashboard > input {
  background-color: rgba(64, 67, 73, 1);
  padding-inline-start: 10px;
  border: none;
  text-decoration: none;
  height: 25px;
  width: 100%;
  color: rgba(221, 221, 222, 1);
}
.search-dashboard > input:focus {
  outline: none;
}
.search-dashboard > input:hover {
  background-color: rgb(76, 76, 76);
}
.search-dashboard > input::placeholder {
  color: rgba(221, 221, 222, 1);
}
.btn-users-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  font-weight: 700;
  color: white;
  border: none;
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 25px;
}
.logo-init-home {
  border-radius: 25px;
  margin-inline-end: 10px;
}
